<div *ngIf="a == true" class="container">
    <div class="box">
        <form [formGroup]='loginForm' (ngSubmit)="onLogin(loginForm.value)">
            <div class="form-group">
                <label>Email</label>
                <input [class.is-invalid]='email.invalid && email.touched' formControlName="email" type="text" class="form-control">
                <div *ngIf="email.invalid && email.touched">
                    <small *ngIf="email.errors?.required" class="text-danger">Email is required</small>
                    <small *ngIf="email.errors?.pattern" class="text-danger">Email is invalid</small>
                </div>

            </div>
            <div class="form-group">
                <label>Password</label>
                <input [class.is-invalid]='password.invalid && password.touched' formControlName="password" type="password" class="form-control">
                <div *ngIf="password.invalid && password.touched">
                    <small *ngIf="password.errors?.required" class="text-danger">password is required</small>
                    <small *ngIf="password.errors?.pattern" class="text-danger">password must contain 8 charectors , one number and one symbol .</small>
                </div>
            </div>
            <label class="text-danger">
                {{loginError}}
             </label>
            <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid || apiInProgress">Login</button>
            <h6>New here ?? then click registor</h6>
            <button class="btn btn-primary" (click)="toggleForm()">Registor</button>
        </form>
    </div>
</div>

<div *ngIf="a == false" class="container2">
    <div class="box">
        <form [formGroup]='registorForm' (ngSubmit)="onRegistration(registorForm.value)">
            <div class="form-group">
                <label>Email</label>
                <input [class.is-invalid]='mail.invalid && mail.touched' formControlName="email" type="text" class="form-control">
                <div *ngIf="mail.invalid && mail.touched">
                    <small *ngIf="mail.errors?.required" class="text-danger">Email is required</small>
                    <small *ngIf="mail.errors?.pattern" class="text-danger">Please Enter a valid Email</small>
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input [class.is-invalid]='pass.invalid && pass.touched' formControlName="password" type="password" class="form-control">
                <div *ngIf="pass.invalid && pass.touched">
                    <small *ngIf="pass.errors?.required" class="text-danger">password is required</small>
                    <small *ngIf="pass.errors?.pattern" class="text-danger">password must contain 8 charectors , one number and one symbol .</small>

                </div>
            </div>
            <div class="form-group">
                <label>Confirm password</label>
                <input formControlName="conPassword" type="Password" class="form-control">
                <small *ngIf="registorForm.errors?.mismatch" class="text-danger">your password is not matching</small>

            </div>
            <div class="form-group">
                <label>Select role</label>
                <select class="form-control" formControlName="user">
                        <option value="admin">Admin</option>
                        <option value="guest">Guest</option>
                    </select>
            </div>
            <label class="text-danger">
                {{registrationError}}
             </label>
            <button class="btn btn-primary" type="submit" [disabled]="!registorForm.valid || apiInProgress">Registor</button>
            <h6>Already registor?? then click login</h6>
            <button (click)="toggleLoginForm()" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>