.logout {
    right: 10px;
    position: absolute;
}

.navbar {
    position: relative;
}

.container {
    width: 40%;
    min-width: 350px;
    background-color: rgba(191, 231, 221, 0.8);
    padding: 30px;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px rgba(39, 38, 38, 0.3);
}

.col {
    float: left;
    width: 50%;
}

.col2 {
    width: 45%;
}

.row {
    width: 100%;
}

.add {
    width: 100%;
}