<div class="container">
    <h2 class="m-b-5">New poll</h2>
    <form [formGroup]='addPoll' (ngSubmit)="createPoll(addPoll.value)">
        <div class="form-group">
            <label>*Enter the poll tittle</label>
            <input type="text" formControlName='poll' class="form-control">
        </div>
        <div class="row">
            <div class="form-group col">
                <label>*Option 1</label>
                <input type="text" formControlName='option1' class="form-control width">
            </div>
            <div class="form-group col2">
                <label>*Option 2</label>
                <input type="text" formControlName='option2' class="form-control width">
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label>*Option 3</label>
                <input type="text" formControlName='option3' class="form-control width">
            </div>
            <div class="form-group col2">
                <label>*Option 4</label>
                <input type="text" formControlName='option4' class="form-control width">
            </div>
        </div>
        <div>
            <button class="btn btn-primary add" [disabled]="!addPoll.valid" type="submit">Add</button>
        </div>
    </form>
    <div class="loader">
        <div class="spinner-border text-success" role="status" *ngIf="apiInProgress">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>